.project-card{
  width: 100%;
  height: 200px;
  display: block;
  margin:auto;
  margin-bottom: 10px;

  .canvas{
    position: relative;
    height:200px;
    width: 100%;

    h2{
      position:absolute;
      bottom:0px;
      left:10px;
      color: #FEFEFE;
    }

    button{
      position:absolute;
      color:#FEFEFE;
      opacity: 1.0;
      position: absolute;
      right:10px;
      bottom:10px;
      background-color: transparent;
      outline:none;
      border: 1px solid #FEFEFE;
      padding:0.5rem;
      cursor: pointer;
    }
    p{
      position:relative;
    }

  }
}





